<!doctype HTML>
<html>

<head>
  <title>Item ID Parser</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link href="css/bootstrap.css" rel="stylesheet">
  <style> body { padding-top: 60px; } </style>
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Item ID Parser</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container"> 
    
    {% if success %}
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> {{success}}        
      </div>
    {% endif %}

    {% if error %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{error}}
      </div>
    {% endif %}

    <form method ="post">
      <div>Url</div>
      <div class="input-append">
        <input style="width:83%" type="text" name="pageURL" value="{{url}}"
        placeholder="http://www.walmart.com/browse/auto-electronics/auto-accessories/3944_3947_544376">
        <input class="btn btn-info" type="submit" name="submit" value="Get IDs">
      </div>
      

      <label>
        <div>Product Ids</div>
        <textarea style="width:100%" name="itemIDs" rows="25">{{itemIDs}}</textarea>
      </label>

    </form>

  </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>